---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to SourceSync.">
  <section class="border-bottom hero">
    <h1>Introducing SourceSync 🚀</h1>
    <p>Your seamless bridge between browser DevTools and source files.</p>
    <a href="/docs/getting-started" class="button btn-primary">Get Started</a>
  </section>
  <section class="border-bottom">
    <p>
      SourceSync keeps your CSS source files in sync with your browser's dev
      tools. It works with PostCSS, LightningCSS, SASS or plain CSS. Enjoy the
      convenience of real-time browser-to-source CSS editing.
    </p>
  </section>
</Layout>
