---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <section class="border-bottom hero">
    <h1>Introducing SourceSync 🚀</h1>
    <p>Your seamless bridge between browser DevTools and source files.</p>
    <a href="/docs/getting-started" class="button btn-primary">Get Started</a>
  </section>
  <section class="border-bottom">
    <img
      src="https://assets.entrepreneur.com/content/3x2/2000/20180703190744-rollsafe-meme.jpeg?format=pjeg&auto=webp&crop=1:1"
      alt="Roll Safe"
    />
    <p>
      Because Chrome doesn't allow us to do it. We decided to do it ourselves.
    </p>
  </section>
</Layout>
