@import "./navbar.css";
@import "./home.css";

h1 {
  color: #ffffff !important;
  font-size: clamp(1.6rem, 5vw, 3rem) !important;
}

article h1 {
  margin-bottom: 2.5rem;
}

body {
  color: white;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
}

li,
p {
  font-size: clamp(0.8rem, 1.9vw, 0.9rem);
  color: #d1d1d1;
  line-height: 1.6;
}

article {
  display: block;
  max-width: 690px;
  margin-inline: auto;
  width: 94vw;
  margin-top: clamp(1rem, 6vw, 5rem);
  margin-bottom: 7rem;
}

article h2 {
  margin-top: 2rem;
}

article h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.astro-code {
  padding: 1rem;
  font-size: 0.8rem;
}

.astro-code code {
  margin: 0;
}
