body {
  margin: 0;
  place-items: center;
  min-width: 290px;
  min-height: 100vh;
  color: white;
}

nav {
  background: #000000;
  display: inline-block;
  border-bottom: 0.9px solid #2d2d2d;
  width: 100vw;
}

.logo {
  padding: 0.5em;
  height: 1.5em;
}

ul {
  padding-left: 1rem;
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  margin-bottom: 0.5rem;
}

li {
  font-size: 0.8em;
  font-weight: 400;
  transition: 0.3s all;
}

h1 {
  line-height: 1.1;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  color: oklch(0.96 0.03 348.78);
  letter-spacing: -0.8px;
  margin: 0;
}

#app {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.read-the-docs {
  color: #888;
  font-size: 0.8rem;
}

button,
.button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #252525;
  cursor: pointer;
  transition: filter 0.3s;
  place-self: center;
  color: white;
  text-decoration: none;
}

button:hover {
  filter: brightness(0.8);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button,
  .button {
    background-color: #f9f9f9;
  }

  h1 {
    color: #213546;
  }
}

section p {
  color: oklch(0.59 0 0);
  font-size: clamp(0.8rem, 2.1vw, 0.9rem);
  max-width: 80vw;
  margin-inline: auto;
  margin-bottom: 2em;
}

@media (min-width: 600px) {
  button,
  .button {
    padding: 0.8em 1.4em;
    font-size: 0.8em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .hero {
  }
}

.border-bottom {
  border-bottom: 0.9px solid #2d2d2d;
}

section {
  display: grid;
  place-content: center;
  max-height: 60vh;
  width: 100vw;
  aspect-ratio: 2 / 1;
  min-height: 350px;
}

img {
  max-width: 80vw;
  height: clamp(63px, 19vw, 100px);
  place-self: center;
  border-radius: 0.5rem;
}

::selection {
  background-color: #646cff;
  color: #ffffff;
}

.btn-primary {
  position: relative;
}

.btn-primary::after {
  content: "";
  background-color: #646cff;
  width: 2rem;
  height: 0.1em;
  bottom: 0;
  position: absolute;
  left: 50%;
  translate: -50% 100%;
  scale: 1.2;
  transition: width 0.3s;
}

button#counter:active {
  outline: none;
}

.btn-primary:focus,
a:focus {
  outline: 1px solid rgb(102 110 255 / 50%);
}

.btn-primary:active::after {
  width: 3.5rem;
}

.hero {
  background: linear-gradient(45deg, black, transparent);
}
