---
interface Props {}
---

<footer>
  <ul>
    <li>
      <a>GitHub</a>
    </li>
    <li>
      <a
        href="https://developer.chrome.com/docs/devtools/workspaces"
        target="_blank">Workspaces</a
      >
    </li>
  </ul>
</footer>
