---
interface Props {}
---

<nav class="navbar">
  <ul>
    <img src="/logo.svg" alt="SourceSync logo" class="logo" />
    <li><a href="/">Home</a></li>
    <li><a href="/docs">Docs</a></li>
    <li><a href="/blog/why-sourcesync">About</a></li>
    <li>
      <a href="https://github.com/m5x5/sourcesync/" target="_blank">GitHub</a>
    </li>
  </ul>
</nav>
